:root{
    --blue: #4444ee;
    --light-blue: #6666ff;
    --white: #ffffff;
    --backgroud: #bb88ff;
    --dark-backgroud: #662288;
}

* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: var(--dark-backgroud);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    overflow: hidden;
}

img {
    max-width: 100%;
}

/* button */

.btn {
    display: inline-block;
    padding: 10 px;
    cursor: pointer;
    background: var(--blue);
    border: none;
    transition: 0.5s;
    text-align: center;
    border-radius: 20%;
}

.btn:hover{
    border-radius: 50%;
    background-color: var(--light-blue);

}

.btn-primary {
    background-color: var(--backgroud);
    color: #000;
}



.btn.menu{
    padding: 0 20px;
}

.btn.price{
    padding: 20 px;
    font-style: #ffffff;
    background-color: var(--light-blue);
}

.btn.price:hover{
    padding: 30 px;
    font-size: 20px;
    background-color: var(--white);
}

/* text */
.text-normal {
    font-weight: normal;
    line-height: 1.4;
}
.text-xxl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 60px;
  }
  
  .text-xl {
    font-size: 2.2rem;
    margin: 40px 0 20px;
  }
  
  .text-lg {
    font-size: 1.8rem;
    margin: 30px 0 20px;
  }
  
  .text-md {
    font-size: 1.2rem;
    margin: 20px 0 10px;
  }
  
  .text-sm {
    font-size: 0.9rem;
    margin: 10px 0 5px;
  }
  
  .text-center {
    text-align: center;
  }

/* Hero */

.hero {
    margin-bottom: 40px;
    background-color: var(--backgroud);
}

.hero .container{
    
    background: url('../images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 650px;    
}

/* testimonials */

.testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }

  .testimonials .testimonials-grid,
  .pricing .pricing-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }

/* video */
.video {
    padding: auto;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.video-preview {
    margin: 20px;
}

/* faq */

.faq {
    width: 100%;
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
  }

/* Menu */

div.menu {
    display:grid;
    grid-template-columns: 1fr;
    position: fixed;
    border: 3px solid #000;
    top: 10;
    right: 0;
    background-color: #bb88ff;
    max-width: 300px;
}

/* utility */

section {
    margin: 15px;
}

.max-width {
    width: 100%;
}

.center {
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 5 auto;
    padding: 0 15px;
    background-color: var(--backgroud);
}

.long-transition {
    transition: 1s;
}
.horizontal-container{
    display: flex;
    width: 100%;
    gap: 5px;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    transition: 0.5s;
    
}

.off {
    display: none;
    visibility: collapse;
}

.shadow-text {
    text-align: center;
    text-shadow: 100 px;
    text-decoration-line: underline;
}

.epic-text {
    color: var(--light-blue);
    font-size: 20px;
    transition: 0.5s;
}

.epic-text:hover {
    font-size: 24px;
}

.baseBackground {
    background-color: var(--white);
    padding: 20px;
}

.colorBackground {
    background-color: var(--backgroud);
    padding: 20px;
}

.bg-primary {
    background: var(--backgroud);
}

.bg-black {
    background: var(--dark-backgroud);
}

.bg-dark {
    background: #444;
}

li { 
    border-bottom: 1px solid #ccc;
}

/* cards  */
.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
    display: grid;


}

.cardUp {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.cardDowm {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

/* footer */

.footer-grid ul li {
    line-height: 3rem;
}

.footer-grid ul li a {
    line-height: 3rem;
    color: #fff;
}

/* navbar */

.navbar {
    background-color: var(--backgroud);
    margin: 20px;
    padding: 10px;

}

.navbar .container {
    justify-content:space-between;
    display: flex;
    gap: 5 20px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px;
    display: block;
    font-weight: 600;
    transition: 1.0s;
}

.navbar ul li a:hover {
    color: var(--light-blue);

}

/* footer grid */
.footer-grid {
    grid-template-columns: 1fr 1fr 2fr;
}


/* Mobile*/
@media (max-width: 960px) {
    .grid-container {
        display: block;
        
    }
    .hero .container{
        background-size: 200px;
    }

    .horizontal-container{
        display: block;

    }

    .flex-container{
        display: block;

    }
    .navbar .main-menu ul {
        display: block;

    }
    .navbar .container {
        display: block;
    }
    
    div { 
        margin: 5px;
        padding: 5px;
    }
  }